.restaurant_title  {

    h1 {
        @include flex-center;
        margin-top: 40px;
        @include paddingbottom;  
    }

}

.restaurantcontainer {
    @include flex-center;
    margin-left: 40px;
    margin-bottom: 60px;

    a { 
        color: inherit;
        text-decoration: inherit;
        
}

    a:hover {
        @include fonction-hover-cards;
    }


    img {
    @include size_img;
    @include border_cards_img;
    }

}

.bloc_restaurant_container {
    @include columndown;
    @include gap_cards;

    h3 {
        font-family: $primary-font;
    }

    p{
        font-family: $primary-font;
        font-weight: $medium-weight;
        margin-top: -5px;
    }
}

.text_over {
    font-family: $primary-font;
    @include New;
    @include column;
    @include text_over_font;
    @include text_over_position;
}


.bloc_restaurant_container_txt {

    @include border_card_img;
    @include columndown;
    @include shadow;
    
}


.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 0;
    background-size: cover;
    margin-bottom: 20px;
    margin-left: 300px;
    position: relative;
    top: -40px;
    right: -25px;
}

.icon-heart {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 471.701 471.701' style='enable-background:new 0 0 471.701 471.701;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1 c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3 l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4 C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3 s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4 c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3 C444.801,187.101,434.001,213.101,414.401,232.701z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-heart:hover,
.icon-heart:focus {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 471.7 471.7' style='enable-background:new 0 0 471.7 471.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Cg id='Calque_2'%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='327.1107' y1='7.7171' x2='122.0282' y2='362.9304'%3E%3Cstop offset='0' style='stop-color:%239356DC'/%3E%3Cstop offset='1' style='stop-color:%23FF79DA'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M230,92c0,0-108-108-195,3s116,253,116,253l82,79l138-127l76-79c0,0,64-108-38-166S230,92,230,92z'/%3E%3C/g%3E%3Cg id='Capa_1'%3E%3Cg%3E%3Cpath d='M433.6,67c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3L236,80l-13.1-13.1c-24.7-24.7-57.6-38.4-92.5-38.4 c-34.8,0-67.6,13.6-92.2,38.2C13.5,91.4-0.1,124.2,0,159.1c0,34.9,13.7,67.6,38.4,92.3l187.8,187.8c2.6,2.6,6.1,4,9.5,4 s6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4C471.8,124.5,458.3,91.7,433.6,67z M414.4,232.7l-178.7,178 L57.4,232.4C37.8,212.8,27,186.8,27,159.1s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4 l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3 c19.6,19.6,30.3,45.6,30.3,73.3C444.8,187.1,434,213.1,414.4,232.7z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}