.restaurant_title  {

    h1 {
        @include flex-center;
        margin-top: 40px;
        @include paddingbottom;  
    }

}

.restaurantcontainer {
    @include flex-center;
    margin-left: 40px;
    margin-bottom: 80px;

    a { 
        color: inherit;
        text-decoration: inherit;
        
}

    a:hover {
        @include fonction-hover;
    }


    img {
    @include size_img;
    @include border_cards_img;
    }

}

.bloc_restaurant_container {
    @include columndown;
    @include gap_cards;

    h3 {
        font-family: $primary-font;
    }

    p{
        font-family: $primary-font;
        font-weight: $medium-weight;
        margin-top: -5px;
    }
}

.text_over {
    font-family: $primary-font;
    @include New;
    @include column;
    @include text_over_font;
    @include text_over_position;
}


.bloc_restaurant_container_txt {

    @include border_card_img;
    @include columndown;
    

        i {
            @include flex-end;
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            margin-bottom: 45px;
        }

        input {
            display: flex;
            justify-content: flex-end;
            @include flex-end;
            
        }

        
}

