.fonctioncontainer {

    h1 {
        @include flex-center;
        @include padding_top_big;
        margin-bottom: 40px;
    }

    h3 {
        font-weight: $medium-weight;
    }

    h3:hover {
        @include fonction-hover-txt;
    }
}

.choice {
    @include column;
    @include flex-center;
    gap: 140px; 
}

.choicelist {
    @include column;
    @include flex-center;
    @include borderchoice;
    @include shadow;


    p {
        @include gap_right;
        @include circle_border;
        @include columndown;
        @include flex-center;
        font-family: $primary-font;
        color: $text-background;
    }

   p:hover {
        @include fonction-hover-txt;
    } 

    i{
        @include gap_right;
        color: $color-primary;
    }

    i:hover {
        @include fonction-hover-txt;
    }
}



.decal {
    margin-right: 10px;
}

.c1 {
    :hover {
        @include fonction-hover;
    }
}

.c2 {
    :hover {
        @include fonction-hover;
    }
}

.c3 {
    :hover {
        @include fonction-hover;
    }
}