.fonctioncontainer {

    h1 {
        @include flex-center;
        @include padding_top_big;
    }

    h3 {
        font-weight: $medium-weight;
    }

}

.choicelist {
    @include column;
    @include flex-center;


    p {
        @include gap_right;
        @include circle_border;
        @include columndown;
        @include flex-center;
        font-family: $primary-font;
        color: $text-background;
    }

    i{
        @include gap_right;
    }
}

.decal {
    margin-right: 10px;
}

