.footer {
    @include flex-center;
    @include columndown;
    @include padding_top_big;
    @include background-footer;


    img {
        width: 10%;
        @include reverse_color;
        @include padding-footer;
        margin-bottom: -40px;

        &:hover {
        @include fonction-hover;
        }
        @include mobile {
            width: 280px;
            margin-bottom: 40px;
        }
        
    }

    a { 
        @include paddingbottom;
        @include padding_top;
        @include no_style_href;
}

    i {
        @include gap_right;
        color: $text-background;
}

    p {
        font-family: $primary-font;
        color: $text-background;

    }

    

}

.desc { 
    @include column;
}

/** Restaurants pages **/

