
header {

    @include flex-center;
    @include paddingbottom;
    width: 100%;
    padding: 30px 0 20px 0;
    @include shadow-header;
    

    i {
        margin-right: 60px;
        text-decoration: none;
        color: black;
    
        &:hover{
            @include fonction-hover-arrow;
        }
    }
        img {
            @include mobile {
                width: 160px;
                margin-left: -40px;
            }
        }
}




/** Restaurants pages **/ 

/* FOND BLANC */
.banner_title_background {
    margin-top: 250px;
    position: relative;
    background-color: $text-background;
    border-radius: 50px 50px 0 0;
}

/* Titre + coeur */
.banner_title_background p {
    font-family: $title-font;
    font-size: $title-size;
    margin-top: 40px;
    margin-bottom: 40px;

    @include mobile {
        font-size: 30px;
        margin-top: 36px;
        margin-left: -22px;
    }
}

.banner_title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.heart_restaurant span {
    @include reset_heart;
    margin-left: 40px;

    &:hover {
        @include fonction-hover-hearts;
    }

    @include mobile {
        margin-left: 40px;
    }
}

/* SECTION MENU */
/* ENTREES */