.location {
    @include column;
    @include flex-center;
    color: $color-black;

    background-color: rgba(194, 193, 193, 0.315);

    i {
        @include gap_right;
    }

    p {
        font-family: $primary-font;
        font-weight: 600;
    }

    span { 
        font-family: $primary-font;
    }

    button {
        @include searchbutton;
        @include shadow;
    }

    button:hover {
        @include fonction-hover;

    }

    a,a:hover,a:visited {
        text-decoration: none;
    }
}

.search_input {
    font-family: $primary-font;
    font-weight: bold;
    border: none;
    outline: none;
    background: transparent;
    padding: 28px;
}

.texttop {
    h1 {
    @include column;
    @include flex-center;
    font-family: $primary-font;
    font-size: $title-size; 
    @include text-center;
    }

        h2 {
        @include column;
        @include flex-center;
        font-weight: 300;
        @include text-center;
    }
}

.align-button {
    @include no_style_href;
    @include flex-center;
    
}

.button {
    border-radius: 25px;
    background-color: $color-primary;
    display: inline-block;
    width: 250px;
    margin: auto;
}

.background-container {
    background-color: #f6f6f6;
    padding-top: 24px;
    padding-bottom: 24px;
}