/* Importation des fichiers scss */ /* Import font */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/* Color */
/*  (with @include) */
/* Responsive */
/* Mixin shadow */
/* Center */
* {
  font-family: "Roboto", sans-serif;
}

.restaurant_title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.restaurantcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurantcontainer img {
  width: 300px;
  height: 150px;
}

.bloc_restaurant_container {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.bloc_restaurant_container h3 {
  font-family: "Roboto", sans-serif;
}
.bloc_restaurant_container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.text_over {
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 1px solid #99E2D0;
  border-radius: 4px;
  padding: 7px 9px 7px 9px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  color: #278870;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  margin-top: 15px;
  margin-left: 205px;
}

.bloc_restaurant_container_txt {
  display: flex;
  flex-direction: column;
}
.bloc_restaurant_container_txt i {
  display: flex;
  justify-content: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.bloc_restaurant_container_txt input {
  display: flex;
  justify-content: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.fonctioncontainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.fonctioncontainer h3 {
  font-weight: 400;
}

.choicelist {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choicelist p {
  margin-right: 15px;
}
.choicelist i {
  margin-right: 15px;
}

.logoheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.footer img {
  width: 10%;
  padding-bottom: 20px;
}
.footer a {
  padding-bottom: 20px;
  padding-top: 10px;
  color: inherit;
  text-decoration: inherit;
}
.footer i {
  margin-right: 15px;
}

.desc {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.location i {
  margin-right: 15px;
}
.location p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.texttop h1 {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
}
.texttop h2 {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-align: center;
}

.buttontop {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
