/* Importation des fichiers scss */ /* Import font */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/* Color */
/*  (with @include) */
/* Responsive */
/* Mixin shadow */
/* Center */
* {
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.restaurant_title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 20px;
}

.restaurantcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 60px;
}
.restaurantcontainer a {
  color: inherit;
  text-decoration: inherit;
}
.restaurantcontainer a:hover {
  cursor: pointer;
}
.restaurantcontainer img {
  width: 400px;
  height: 200px;
  border-radius: 20px 20px 20px 20px;
}

.bloc_restaurant_container {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.bloc_restaurant_container h3 {
  font-family: "Roboto", sans-serif;
}
.bloc_restaurant_container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: -5px;
}

.text_over {
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 1px solid #99E2D0;
  border-radius: 4px;
  padding: 7px 9px 7px 9px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  color: #278870;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  margin-top: 15px;
  margin-left: 305px;
}

.bloc_restaurant_container_txt {
  border: 0 solid none;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
  margin-top: -20px;
  padding-left: 25px;
  padding-bottom: -20px;
  height: 90px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 0;
  background-size: cover;
  margin-bottom: 20px;
  margin-left: 300px;
  position: relative;
  top: -40px;
  right: -25px;
}

.icon-heart {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 471.701 471.701' style='enable-background:new 0 0 471.701 471.701;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1 c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3 l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4 C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3 s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4 c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3 C444.801,187.101,434.001,213.101,414.401,232.701z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-heart:hover,
.icon-heart:focus {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 471.7 471.7' style='enable-background:new 0 0 471.7 471.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Cg id='Calque_2'%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='327.1107' y1='7.7171' x2='122.0282' y2='362.9304'%3E%3Cstop offset='0' style='stop-color:%239356DC'/%3E%3Cstop offset='1' style='stop-color:%23FF79DA'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M230,92c0,0-108-108-195,3s116,253,116,253l82,79l138-127l76-79c0,0,64-108-38-166S230,92,230,92z'/%3E%3C/g%3E%3Cg id='Capa_1'%3E%3Cg%3E%3Cpath d='M433.6,67c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3L236,80l-13.1-13.1c-24.7-24.7-57.6-38.4-92.5-38.4 c-34.8,0-67.6,13.6-92.2,38.2C13.5,91.4-0.1,124.2,0,159.1c0,34.9,13.7,67.6,38.4,92.3l187.8,187.8c2.6,2.6,6.1,4,9.5,4 s6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4C471.8,124.5,458.3,91.7,433.6,67z M414.4,232.7l-178.7,178 L57.4,232.4C37.8,212.8,27,186.8,27,159.1s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4 l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3 c19.6,19.6,30.3,45.6,30.3,73.3C444.8,187.1,434,213.1,414.4,232.7z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.background-restaurant {
  background-color: #f6f6f6;
  padding-top: 12px;
  padding-bottom: 24px;
  margin-top: 48px;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.item_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title_menu_section {
  display: flex;
  justify-content: flex-start;
}
.title_menu_section h2 {
  font: "Roboto", sans-serif;
  font-weight: 400;
  border-bottom: 4px solid #99E2D0;
}

.item_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.item_container ol, .item_container ul {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
  height: 80px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
  opacity: 0;
}
.item:hover .item_check {
  margin-right: 0;
}
.item:hover .item_check i {
  transform: rotate(360deg);
  transition-duration: 1;
}
.item:hover .item_check,
.item:hover .item_txt,
.item:hover .item_price,
.item:hover i {
  transition: all 1s;
}

.item_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 85%;
}
.item_txt span {
  font-size: 20px;
  margin: 0 0 10px 10px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.item_txt p {
  font-size: 16px;
  margin-left: 10px;
  padding-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.item_price {
  display: flex;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding-right: 4px;
}

.item_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  overflow: hidden;
  margin-right: -60px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.item_check i {
  color: white;
}

.first_item {
  animation: items-display 1.2s forwards linear;
}

.second_item {
  animation: items-display 1.2s 0.2s forwards linear;
}

.third_item {
  animation: items-display 1.2s 0.4s forwards linear;
}

.fourth_item {
  animation: items-display 1.2s 0.6s forwards linear;
}

.fonctioncontainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 40px;
}
.fonctioncontainer h3 {
  font-weight: 400;
}
.fonctioncontainer h3:hover {
  transform: scale(1);
  transition-duration: 2000ms;
  cursor: pointer;
}

.choice {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}
@media screen and (min-width: 992px) {
  .choice {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.choicelist {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 2px 20px 2px 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
}
.choicelist p {
  margin-right: 15px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  height: 30px;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: white;
}
.choicelist p:hover {
  transform: scale(1);
  transition-duration: 2000ms;
  cursor: pointer;
}
.choicelist i {
  margin-right: 15px;
  color: #9356DC;
}
.choicelist i:hover {
  transform: scale(1);
  transition-duration: 2000ms;
  cursor: pointer;
}

.decal {
  margin-right: 10px;
}

.c1 :hover {
  transform: scale(1.2);
  transition-duration: 2000ms;
  cursor: pointer;
}

.c2 :hover {
  transform: scale(1.2);
  transition-duration: 2000ms;
  cursor: pointer;
}

.c3 :hover {
  transform: scale(1.2);
  transition-duration: 2000ms;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  padding: 30px 0 20px 0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

i {
  margin-right: 60px;
  text-decoration: none;
  color: black;
}
i:hover {
  transform: scale(2);
  transition-duration: 600ms;
  cursor: pointer;
}
/** Restaurants pages **/
/* FOND BLANC */
.banner_title_background {
  margin-top: 250px;
  position: relative;
  background-color: white;
  border-radius: 50px 50px 0 0;
}

/* Titre + coeur */
.banner_title_background p {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banner_title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.heart_restaurant span {
  margin-bottom: 0;
  margin-left: 0;
  top: 0;
  right: 0;
  margin-left: 40px;
}
.heart_restaurant span:hover {
  cursor: pointer;
  transform: scale(1.4);
  transition-duration: 2000ms;
}

/* SECTION MENU */
/* ENTREES */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border: 40px solid #353535;
  background-color: #353535;
}
.footer img {
  width: 10%;
  filter: invert(1);
  padding-bottom: 80px;
  margin-bottom: -40px;
}
.footer img:hover {
  transform: scale(1.2);
  transition-duration: 2000ms;
  cursor: pointer;
}
.footer a {
  padding-bottom: 20px;
  padding-top: 10px;
  text-decoration: inherit;
}
.footer i {
  margin-right: 15px;
  color: white;
}
.footer p {
  font-family: "Roboto", sans-serif;
  color: white;
}

.desc {
  display: flex;
  align-items: center;
}

/** Restaurants pages **/
.location {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(194, 193, 193, 0.315);
}
.location i {
  margin-right: 15px;
}
.location p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.location span {
  font-family: "Roboto", sans-serif;
}
.location button {
  border-radius: 25px;
  padding: 10px;
  border: 2px solid #9356DC;
  background-color: white;
  margin-left: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
}
.location button:hover {
  transform: scale(1.2);
  transition-duration: 2000ms;
  cursor: pointer;
}
.location a, .location a:hover, .location a:visited {
  text-decoration: none;
}

.search_input {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  background: transparent;
  padding: 28px;
}

.texttop h1 {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
}
.texttop h2 {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-align: center;
}

.align-button {
  text-decoration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 25px;
  background-color: #9356DC;
  display: inline-block;
  width: 250px;
  margin: auto;
}

.background-container {
  background-color: #f6f6f6;
  padding-top: 24px;
  padding-bottom: 24px;
}

/** Restaurants pages **/
.restaurant_banner img {
  position: absolute;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  border-style: none;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
  color: white;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(175deg, #fface8 0%, #ae80e5 100%);
  transform: scale(1.2);
  transition-duration: 2000ms;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.22);
}

.align-button {
  text-decoration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_commande {
  text-decoration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  border-style: none;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
  color: white;
  cursor: pointer;
  width: 240px;
  align-items: center;
  margin-top: 40px;
}
.button_commande:hover {
  background: linear-gradient(175deg, #fface8 0%, #ae80e5 100%);
  transform: scale(1.2);
  transition-duration: 2000ms;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.22);
}

/*
.searchbtn {

        @include flex-center;
        font-family: $primary-font;
        @include button-border;

        &:hover {
            @include button-border-hover;
            }
}

*/
.page_bloc {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  animation: loading 5s;
  animation-fill-mode: forwards;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1440px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  background: rgba(243, 243, 227, 0.8) 80%;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
    opacity: 0;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}
@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
    opacity: 0;
    z-index: -10;
  }
}
.pan-loader {
  width: 180px;
  height: 180px;
  margin: 400px;
}
.pan-loader .loader {
  position: relative;
  top: 10%;
  left: 0;
  z-index: -1;
  width: 60%;
  height: 45%;
  border: 10px solid transparent;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  animation: loader 1s infinite;
  animation-timing-function: linear;
}
.pan-loader .pan-container {
  display: flex;
  width: 100%;
  animation: pan 1s infinite;
}
.pan-loader .pan {
  width: 60%;
  height: 35px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pan-loader .handle {
  width: 40%;
  height: 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pan-loader .shadow {
  position: relative;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 8px;
  background: lightgray;
  border-radius: 20px;
  animation: shadow 1s infinite;
}

@keyframes items-display {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  66% {
    transform: translateY(10px);
    opacity: 0;
  }
  75% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
