/*  (with @include) */

/* Responsive */

@mixin tablet-only {
    @media screen and (min-width:768px){
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width:992px){
        @content;
    }
}

/* Mixin shadow */

@mixin index-shadow {
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 47%);
    }

/* Center */ 

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


@mixin column {
    display: flex;
    align-items: center;
}

@mixin columndown {
    display: flex;
    flex-direction: column;
}

// padding //

@mixin searchbutton {
        border-radius: 25px;
        padding: 10px;
        border: 2px solid #9356DC;
        background-color: white;
        margin-left: 10px;

}

//bottom//
@mixin paddingbottom {
    padding-bottom: 20px;
}

@mixin padding_bottom_big {
    padding-bottom: 40px;
}

@mixin padding-footer {
    padding-bottom: 80px;
}


@mixin c {
    margin-top: -20px;
}
//top//

@mixin padding_top_big {
    padding-top: 40px;
}

@mixin padding_top {
    padding-top: 10px;
}


// gapping //

@mixin gap_right {
    margin-right: 15px;
}

@mixin gap_cards {
    margin-right: 40px;
}

// Sizing //

@mixin size_img {
    width: 400px;
    height: 200px;
    
}

// Footer no style //

@mixin no_style_href {
    text-decoration: inherit;
}

//

@mixin text-center {
    text-align: center;
}

// Border sur les numeros de fonctionnement //

@mixin borderchoice {
    border: none;
    border-radius: 20px;
    padding: 2px 20px 2px 20px;
    background-color: #f6f6f6;

}

@mixin border_card_img {
    border: 0 solid none;
    border-radius: 0px 0px 25px 25px;
    background-color: white;
    margin-top: -20px;
    padding-left: 25px;
    padding-bottom: -20px;
    height: 90px;
}

@mixin circle_border {
    border: 2px solid $color-primary;
    background-color: $color-primary;
    height: 30px;
    border-radius:50%;
    width: 30px;
    text-align: center;

}

// Encoche Nouveau sur les cards/img //

@mixin border_cards_img {
    border-radius: 20px 20px 20px 20px;
}


@mixin New {
    text-align: center;
    border: 1px solid $color-tertiary;
    border-radius: 4px;
    padding: 7px 9px 7px 9px;
    background-color: $color-tertiary;
}

@mixin text_over_font {
    color: #278870;
    font-size: 15px;
    font-weight: 500;
}

@mixin text_over_position {
    position: absolute;
    margin-top: 15px;
    margin-left: 305px;
}

// Border sur le bouton degrade //

@mixin button-border {
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    border-style: none;
    background: linear-gradient(175deg, $color-secondary  0%, $color-primary  100%);
    @include index-shadow;
    color: white;
    cursor: pointer;
}

@mixin button-border-hover {
        background: linear-gradient(
            175deg,
            lighten(rgba(255, 121, 218, 1), 10%) 0%,
            lighten(rgba(147, 86, 220, 1), 10%) 100%
        );
        transform: scale(1.2);
        transition-duration: 2000ms;
        box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 22%);
}

@mixin fonction-hover {

        transform: scale(1.2);
        transition-duration: 2000ms;
        cursor: pointer;
}

@mixin fonction-hover-arrow {

    transform: scale(2);
    transition-duration: 600ms;
    cursor: pointer;
}

@mixin fonction-hover-cards {

    cursor: pointer;
}

@mixin fonction-hover-hearts {
    cursor: pointer;
    transform: scale(1.4);
    transition-duration: 2000ms;
}



@mixin fonction-hover-txt{

    transform: scale(1);
    transition-duration: 2000ms;
    cursor: pointer;

}

// couleurs inversées pour l'image du footer //
@mixin reverse_color {
    filter: invert(1);
}

// Background footer // 

@mixin background-footer {
    border: 40px solid $color-footer;
    background-color: $color-footer;
}


// shadow // 

    @mixin shadow {
        box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 47%);
}

@mixin shadow-header {
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 20%);
}

// heart // 
@mixin heart {
    width:25px;
    height: 25px;
    margin-left: 320px;
    border-radius: 0;
    
}


// Transition square //

@mixin transition-square {
    cursor: pointer;

}
