/*  (with @include) */

/* Responsive */

@mixin tablet-only {
    @media screen and (min-width:768px){
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width:992px){
        @content;
    }
}

/* Mixin shadow */

@mixin index-shadow {
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 47%);
    }

/* Center */ 

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


@mixin column {
    display: flex;
    align-items: center;
}

@mixin columndown {
    display: flex;
    flex-direction: column;
}

// padding //

@mixin paddingbottom {
    padding-bottom: 20px;
}

@mixin padding_top_big {
    padding-top: 40px;
}

@mixin padding_top {
    padding-top: 10px;
}

// gapping //

@mixin gap_right {
    margin-right: 15px;
}

// Sizing //

@mixin size_img {
    width: 300px;
    height: 150px;
    
}

// Footer no style //

@mixin no_style_href {
    color: inherit;
    text-decoration: inherit;
}